<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WsSupervisorBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsSupervisorBinding1" />
                <binding name="WsAdminBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="WsAdminBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.five9.com/wsadmin/v3/AdminWebService"
                binding="basicHttpBinding" bindingConfiguration="WsAdminBinding"
                contract="Five9AdminService.WsAdmin" name="WsAdminPort" />
            <endpoint address="https://api.five9.com/wssupervisor/v3/SupervisorWebService"
                binding="basicHttpBinding" bindingConfiguration="WsSupervisorBinding"
                contract="Five9SupervisorService.WsSupervisor" name="WsSupervisorPort" />
        </client>
    </system.serviceModel>
</configuration>